body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #111827;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card {
  background: #1f2937;
  padding: 40px;
  border-radius: 18px;
  text-align: center;
  width: 320px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.4);
}

h1 {
  margin-top: 0;
}

p {
  color: #d1d5db;
  line-height: 1.5;
}

button {
  margin-top: 15px;
  padding: 12px 22px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}
input {
  width: 100%;
  box-sizing: border-box;
  padding: 12px;
  margin-top: 10px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
}
